apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: lockss-network-policy-admin-access
  namespace: lockss
spec:
  podSelector:
    matchLabels:
      service-kind: non-lockss-admin-access
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector: {}
    - from:
        - ipBlock:
            cidr: 10.255.0.0/16
      ports:
        - port: {{PYWB_PORT}}
        - port: {{POSTGRES_PORT}}
        - port:  {{OPENWB_PORT}}
{{#LOCKSS_SUBNETS}}
    - from:
        - ipBlock:
            cidr: "{{.}}"
      ports:
        - port: {{PYWB_PORT}}
        - port: {{POSTGRES_PORT}}
        - port: {{OPENWB_PORT}}
{{/LOCKSS_SUBNETS}}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: lockss-network-policy-content-access
  namespace: lockss
spec:
  podSelector:
    matchLabels:
      service-kind: non-lockss-content-access
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector: {}
    - from:
        - ipBlock:
            cidr: 10.255.0.0/16
      ports:
        - port: {{PYWB_PORT}}
        - port: {{POSTGRES_PORT}}
        - port:  {{OPENWB_PORT}}
{{#LOCKSS_SUBNETS}}
    - from:
        - ipBlock:
            cidr: "{{.}}"
      ports:
        - port: {{PYWB_PORT}}
        - port: {{POSTGRES_PORT}}
        - port: {{OPENWB_PORT}}
{{/LOCKSS_SUBNETS}}