apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-ingress-tcp-microk8s-conf
  namespace: ingress
data:
  {{CFG_REST_PORT}}: "lockss/{{CFG_HOST}}:{{CFG_REST_PORT}}"
  {{CFG_UI_PORT}}: "lockss/{{CFG_HOST}}:{{CFG_UI_PORT}}"
  {{JMS_PORT}}: "lockss/{{CFG_HOST}}:{{JMS_PORT}}"
  {{LOCKSS_UI_PORT}}: "lockss/{{CFG_HOST}}:{{CFG_UI_PORT}}"
  {{MDQ_REST_PORT}}: "lockss/{{MDQ_HOST}}:{{MDQ_REST_PORT}}"
  {{MDQ_UI_PORT}}: "lockss/{{MDQ_HOST}}:{{MDQ_UI_PORT}}"
  {{MDX_REST_PORT}}: "lockss/{{MDX_HOST}}:{{MDX_REST_PORT}}"
  {{MDX_UI_PORT}}: "lockss/{{MDX_HOST}}:{{MDX_UI_PORT}}"
  {{POL_REST_PORT}}: "lockss/{{POL_HOST}}:{{POL_REST_PORT}}"
  {{POL_UI_PORT}}: "lockss/{{POL_HOST}}:{{POL_UI_PORT}}"
  {{LOCKSS_LCAP_PORT}}: "lockss/{{POL_HOST}}:{{LOCKSS_LCAP_PORT}}"
  {{SERV_PORT}}: "lockss/{{POL_HOST}}:{{SERV_PORT}}"
  {{LOCKSS_PROXY_PORT}}: "lockss/{{POL_HOST}}:{{LOCKSS_PROXY_PORT}}"
  {{LOCKSS_AUDIT_PORT}}: "lockss/{{POL_HOST}}:{{LOCKSS_AUDIT_PORT}}"
  {{REPO_REST_PORT}}: "lockss/{{REPO_HOST}}:{{REPO_REST_PORT}}"
  {{POSTGRES_PORT}}: "lockss/{{POSTGRES_HOST}}:{{POSTGRES_PORT}}"
  {{SOLR_PORT}}: "lockss/{{SOLR_HOST}}:{{SOLR_PORT}}"
  {{PYWB_PORT}}: "lockss/{{PYWB_HOST}}:{{PYWB_PORT}}"
