apiVersion: v1
kind: ConfigMap
metadata:
  name: tcp-services
  namespace: ingress-nginx
data:
  - {{CFG_REST_PORT}}: "lockss/{{CFG_HOST}}:{{CFG_DEFAULT_REST_PORT}}"
  - {{CFG_UI_PORT}}: "lockss/{{CFG_HOST}}:{{CFG_DEFAULT_UI_PORT}}"
  - {{JMS_PORT}}: "lockss/{{CFG_HOST}}:{{JMS_DEFAULT_PORT}}"
  - {{LOCKSS_UI_PORT}}: "lockss/{{CFG_HOST}}:{{CFG_DEFAULT_UI_PORT}}"
  - {{MDQ_REST_PORT}}: "lockss/{{MDQ_HOST}}:{{MDQ_DEFAULT_REST_PORT}}"
  - {{MDQ_UI_PORT}}: "lockss/{{MDQ_HOST}}:{{MDQ_DEFAULT_UI_PORT}}"
  - {{MDX_REST_PORT}}: "lockss/{{MDX_HOST}}:{{MDX_DEFAULT_REST_PORT}}"
  - {{MDX_UI_PORT}}: "lockss/{{MDX_HOST}}:{{MDX_DEFAULT_UI_PORT}}"
  - {{POL_REST_PORT}}: "lockss/{{POL_HOST}}:{{POL_DEFAULT_REST_PORT}}"
  - {{POL_UI_PORT}}: "lockss/{{POL_HOST}}:{{POL_DEFAULT_UI_PORT}}"
  - {{LOCKSS_LCAP_PORT}}: "lockss/{{POL_HOST}}:{{LOCKSS_LCAP_PORT}}"
  - {{SERV_PORT}}: "lockss/{{POL_HOST}}:{{SERV_DEFAULT_PORT}}"
  - {{LOCKSS_PROXY_PORT}}: "lockss/{{POL_HOST}}:{{LOCKSS_DEFAULT_PROXY_PORT}}"
  - {{LOCKSS_AUDIT_PORT}}: "lockss/{{POL_HOST}}:{{LOCKSS_DEFAULT_AUDIT_PORT}}"
  - {{REPO_REST_PORT}}: "lockss/{{REPO_HOST}}:{{REPO_DEFAULT_REST_PORT}}"
  - {{POSTGRES_PORT}}: "lockss/{{REPO_HOST}}:{{POSTGRES_DEFAULT_PORT}}"
  - {{SOLR_PORT}}: "lockss/{{REPO_HOST}}:{{SOLR_DEFAULT_PORT}}"
  - {{PYWB_PORT}}: "lockss/{{REPO_HOST}}:{{PYWB_DEFAULT_PORT}}"
