/bin/
/.project

.idea/
*.iml
/download/
/.env
/config/config.info
/config/system.cfg
/config/resolv.conf
/config/k8s.cfg
/config/*.sec
/config/env.mustache.opt
/config/configs/*
/config/useropts/*
/config/useropts/templates/*
/scripts/lib/*.jar
/logs/
/scripts/logs/
/scripts/script_tester.sh
/config/*.bak
config/keys
lockss-configure.log
