apiVersion: v1
kind: Service
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-poller-service
  name: lockss-poller-service
spec:
  ports:
  - name: "pol-service-rest-port"
    port: {{POL_REST_PORT}}
    targetPort: {{POL_DEFAULT_REST_PORT}}
  - name: "pol-service-ui-port"
    port: {{POL_UI_PORT}}
    targetPort: {{POL_DEFAULT_UI_PORT}}
  - name: "lcap-port"
    port: {{POL_LCAP_PORT}}
    targetPort: {{POL_DEFAULT_LCAP_PORT}}
  - name: "servecontent-port"
    port: {{SERV_PORT}}
    targetPort: {{SERV_DEFAULT_PORT}}
  - name: "proxy-port"
    port: {{LOCKSS_PROXY_PORT}}
    targetPort: {{LOCKSS_DEFAULT_PROXY_PORT}}
  - name: "audit-port"
    port: {{LOCKSS_AUDIT_PORT}}
    targetPort: {{LOCKSS_DEFAULT_AUDIT_PORT}}
  - name: "icp-port"
    port: {{LOCKSS_ICP_PORT}}
    targetPort: {{LOCKSS_DEFAULT_ICP_PORT}}
  selector:
    io.kompose.service: lockss-poller-service
  type: ClusterIP
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-poller-service
  name: lockss-pol-logs-pvc
spec:
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Mi
  storageClassName: local-storage
  selector:
    matchLabels:
      owner: "lockss-pol-logs"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-poller-service
  name: lockss-pol-data-pvc
spec:
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Mi
  storageClassName: local-storage
  selector:
    matchLabels:
      owner: "lockss-pol-data"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-poller-service
  name: lockss-pol-tmp-pvc
spec:
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Mi
  storageClassName: local-storage
  selector:
    matchLabels:
      owner: "lockss-pol-tmp"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-poller-service
  name: lockss-poller-service
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: lockss-poller-service
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: lockss
        lockss-stack-id: {{STACK}}
        io.kompose.network/{{STACK}}-network: "true"
        io.kompose.service: lockss-poller-service
    spec:
      containers:
      - env:
        - name: ARGS_ADDITIONAL
          value: "{{ARGS_ADDITIONAL}}"
        - name: LOCKSS_ADMIN_USER
          value: {{LOCKSS_ADMIN_USER}}
        - name: LOCKSS_CONFIG_URL
          value: {{CFG_URL}}
        - name: LOCKSS_PRESERVATION_GROUP
          value: {{LOCKSS_PRESERVATION_GROUP}}
        - name: LOCKSS_WAIT_FOR_200
          value: "{{CFG_HOST}}:{{CFG_REST_PORT}}"
        - name: LOCKSS_WAIT_FOR_PORT
          value: "{{REPO_HOST}}:{{REPO_REST_PORT}} {{CFG_HOST}}:{{CFG_REST_PORT}}"
        - name: TZ
          value: {{LOCKSS_TIMEZONE}}
        - name: LOCKSS_UID
          value: {{LOCKSS_UID}}
        - name: LOCKSS_GID
          value: {{LOCKSS_GID}}
        image: {{POL_IMG}}:{{POL_VERSION}}
        imagePullPolicy: {{PULL_POLICY}}
        name: lockss-poller-service
        ports:
        - name: "pol-rest-port"
          containerPort: {{POL_DEFAULT_REST_PORT}}
          hostPort: {{POL_REST_PORT}}
          protocol: TCP
        - name: "pol-ui-port"
          containerPort: {{POL_DEFAULT_UI_PORT}}
          hostPort: {{POL_UI_PORT}}
          protocol: TCP
        - name: "lcap-port"
          containerPort: {{LOCKSS_LCAP_PORT}}
          hostPort: {{LOCKSS_LCAP_PORT}}
          protocol: TCP
        - name: "srvcontent-port"
          containerPort: {{SERV_DEFAULT_PORT}}
          hostPort: {{SERV_PORT}}
          protocol: TCP
        - name: "proxy-port"
          containerPort: {{LOCKSS_DEFAULT_PROXY_PORT}}
          hostPort: {{LOCKSS_PROXY_PORT}}
          protocol: TCP
        - name: "audit-port"
          containerPort: {{LOCKSS_DEFAULT_AUDIT_PORT}}
          hostPort: {{LOCKSS_AUDIT_PORT}}
          protocol: TCP
        - name: "icp-port"
          containerPort: {{LOCKSS_DEFAULT_ICP_PORT}}
          hostPort: {{LOCKSS_ICP_PORT}}
          protocol: UDP
        resources: {}
        volumeMounts:
        - mountPath: /run/configs/lockss_bootstrap
          name: lockss-bootstrap
          subPath: lockss_bootstrap
        - mountPath: /run/configs/lockss_service
          name: pol-service
          subPath: lockss_service
        - mountPath: /run/configs/lockss_service_opt
          name: pol-service-opt
          subPath: lockss_service_opt
        - mountPath: /run/secrets/lockss_ui_pass
          name: lockss-ui-pass
          subPath: lockss_ui_pass
        - mountPath: /run/secrets/lockss-auth
          name: lockss-auth
          subPath: lockss-auth
        - mountPath: /data
          name: lockss-pol-data
        - mountPath: /var/log/lockss
          name: lockss-pol-logs
        - mountPath: /tmp/lockss
          name: lockss-pol-tmp
      restartPolicy: Always
      securityContext:
        allowPrivilegeEscalation: false
      hostAliases:
      - ip: "{{LOCKSS_IPADDR}}"
        hostnames:
        - "{{LOCKSS_HOSTNAME}}"
      volumes:
      - configMap:
          items:
          - key: lockss-bootstrap
            path: lockss_bootstrap
          name: lockss-bootstrap
        name: lockss-bootstrap
      - configMap:
          items:
          - key: pol-service
            path: lockss_service
          name: pol-service
        name: pol-service
      - configMap:
          items:
          - key: pol-service-opt
            path: lockss_service_opt
          name: pol-service-opt
        name: pol-service-opt
      - name: lockss-ui-pass
        secret:
          secretName: lockss-ui-pass
          items:
          - key: lockss-ui-pass
            path: lockss_ui_pass
      - name: lockss-auth
        secret:
          secretName: lockss-auth
          items:
          - key: lockss-auth
            path: lockss-auth
      - name: lockss-pol-data
        persistentVolumeClaim:
          claimName: lockss-pol-data-pvc
      - name: lockss-pol-logs
        persistentVolumeClaim:
          claimName: lockss-pol-logs-pvc
      - name: lockss-pol-tmp
        persistentVolumeClaim:
          claimName: lockss-pol-tmp-pvc
