apiVersion: v1
kind: Service
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-solr-service
  name: lockss-solr-service
spec:
  ports:
  - name: "lockss-solr-port"
    port: {{SOLR_PORT}}
    targetPort: {{SOLR_DEFAULT_PORT}}
  selector:
    io.kompose.service: lockss-solr-service
  externalTrafficPolicy: Local
  type: NodePort
status:
  loadBalancer: {}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-solr-service
  name: lockss-solr-data-pvc
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Mi
  storageClassName: local-storage
  selector:
    matchLabels:
      owner: "lockss-solr-data"
status: {}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-solr-service
  name: lockss-solr-logs-pvc
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Mi
  storageClassName: local-storage
  selector:
    matchLabels:
      owner: "lockss-solr-logs"
status: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-solr-service
  name: lockss-solr-service
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: lockss-solr-service
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: lockss
        lockss-stack-id: {{STACK}}
        io.kompose.network/{{STACK}}-network: "true"
        io.kompose.service: lockss-solr-service
    spec:
      containers:
      - command: [{{SOLR_CMD}},{{SOLR_CORE_REPO}}, {{SOLR_CONFIGSET}}]
        env:
        - name: TZ
          value: {{LOCKSS_TIMEZONE}}
        image: {{SOLR_IMG}}:{{SOLR_VERSION}}
        name: lockss-solr-service
        ports:
        - containerPort: {{SOLR_DEFAULT_PORT}}
        resources: {}
        volumeMounts:
        - mountPath: /run/secrets/lockss-auth
          name: lockss-auth
          readOnly: true
        - mountPath: /opt/solr/server/solr
          name: lockss-solr-data
        - mountPath: /opt/solr/server/logs
          name: lockss-solr-logs
      restartPolicy: Always
      volumes:
      - name: lockss-auth
        secret:
          secretName: lockss-auth
          items:
          - key: lockss-auth
            path: lockss-auth
      - name: lockss-solr-data
        persistentVolumeClaim:
          claimName: lockss-solr-data-pvc
      - name: lockss-solr-logs
        persistentVolumeClaim:
          claimName: lockss-solr-logs-pvc
status: {}
