apiVersion: v1
kind: Service
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-repository-service
  name: lockss-repository-service
spec:
  ports:
  - name: "lockss-repo-rest-port"
    port: {{REPO_REST_PORT}}
    targetPort: {{REPO_DEFAULT_REST_PORT}}
  selector:
    io.kompose.service: lockss-repository-service
  externalTrafficPolicy: Local
  type: NodePort
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-repository-service
  name: lockss-repo-logs-pvc
spec:
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 10Mi
  storageClassName: local-storage
  selector:
    matchLabels:
      owner: "lockss-repo-logs"
---
{{#REPO_NUMS}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-repository-service
  name: lockss-repo-data{{.}}-pvc
spec:
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Mi
  storageClassName: local-storage
  selector:
    matchLabels:
      owner: "lockss-repo-data{{.}}"
---
{{/REPO_NUMS}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: lockss
    lockss-stack-id: {{STACK}}
    io.kompose.service: lockss-repository-service
  name: lockss-repository-service
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: lockss-repository-service
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: lockss
        lockss-stack-id: {{STACK}}
        io.kompose.network/{{STACK}}-network: "true"
        io.kompose.service: lockss-repository-service
    spec:
      containers:
      - env:
        - name: ARGS_ADDITIONAL
          value: $(ARGS_ADDITIONAL)
        - name: LOCKSS_ADMIN_USER
          value: {{LOCKSS_ADMIN_USER}}
        - name: LOCKSS_CONFIG_URL
          value: {{CFG_URL}}
        - name: LOCKSS_IS_REPO
          value: "true"
        - name: LOCKSS_JMS_HOST
          value: "{{JMS_HOST}}"
        - name: LOCKSS_JMS_PORT
          value: "{{JMS_DEFAULT_PORT}}"
        - name: LOCKSS_PRESERVATION_GROUP
          value: {{LOCKSS_PRESERVATION_GROUP}}
        - name: LOCKSS_SOLR_HOST
          value: {{SOLR_HOST}}
        - name: LOCKSS_SOLR_PORT
          value: "{{SOLR_PORT}}"
        - name: LOCKSS_WAIT_FOR_PORT
          value: {{SOLR_HOST}}:{{SOLR_PORT}}
        - name: TZ
          value: {{LOCKSS_TIMEZONE}}
        image: {{REPO_IMG}}:{{REPO_VERSION}}
        name: lockss-repository-service
        ports:
        - containerPort: {{REPO_DEFAULT_REST_PORT}}
        volumeMounts:
        - mountPath: /run/configs/lockss.properties
          name: repo-properties
          subPath: lockss.properties
        - mountPath: /run/configs/lockss_bootstrap
          name: lockss-bootstrap
          subPath: lockss_bootstrap
        - mountPath: /run/configs/lockss_service
          name: repo-service
          subPath: lockss_service
        - mountPath: /run/configs/lockss_service_opt
          name: repo-service-opt
          subPath: lockss_service_opt
        - mountPath: /run/secrets/lockss_ui_pass
          name: lockss-ui-pass
          subPath: lockss_ui_pass
          readOnly: true
        - mountPath: /run/secrets/lockss-auth
          name: lockss-auth
          subPath: lockss-auth
          readOnly: true
{{#REPO_NUMS}}
        - mountPath: /data{{.}}
          name: lockss-repo-data{{.}}
{{/REPO_NUMS}}
        - mountPath: /var/log/lockss
          name: lockss-repo-logs
      restartPolicy: Always
      volumes:
      - configMap:
          items:
          - key: repo-properties
            path: lockss.properties
          name: repo-properties
        name: repo-properties
      - configMap:
          items:
          - key: lockss-bootstrap
            path: lockss_bootstrap
          name: lockss-bootstrap
        name: lockss-bootstrap
      - configMap:
          items:
          - key: repo-service
            path: lockss_service
          name: repo-service
        name: repo-service
      - configMap:
          items:
          - key: repo-service-opt
            path: lockss_service_opt
          name: repo-service-opt
        name: repo-service-opt
      - name: lockss-ui-pass
        secret:
          secretName: lockss-ui-pass
          items:
          - key: lockss-ui-pass
            path: lockss_ui_pass
      - name: lockss-auth
        secret:
          secretName: lockss-auth
          items:
          - key: lockss-auth
            path: lockss-auth
{{#REPO_NUMS}}
      - name: lockss-repo-data{{.}}
        persistentVolumeClaim:
          claimName: lockss-repo-data{{.}}-pvc
{{/REPO_NUMS}}
      - name: lockss-repo-logs
        persistentVolumeClaim:
          claimName: lockss-repo-logs-pvc
      securityContext:
        runAsUser: {{LOCKSS_UID}}
        runAsGroup {{LOCKSS_GID}}
        fsGroup: {{LOCKSS_GID}}
