# Copyright (c) 2000-2019, Board of Trustees of Leland Stanford Jr. University
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

version: '3.7'

#
# MERGE lockss-service-common
#
x-lockss-service-common: &lockss-service-common
  deploy:
    replicas: 1
    restart_policy:
      condition: on-failure
      delay: 10s
      max_attempts: 5
      window: 120s
    update_config:
      parallelism: 2
      delay: 10s
  stop_grace_period: "${LOCKSS_STOP_GRACE_PERIOD:-60s}"
  logging:
    driver: json-file
    options:
      max-size: 10m
      max-file: 3

#
# SERVICES
#
services:
{{#USE_LOCKSS_CFG}}
  #
  # SERVICE lockss-configuration-service
  #
  lockss-configuration-service:
    <<: *lockss-service-common
    image: {{CFG_IMG}}:{{CFG_VERSION}}
    configs:
      - source: lockss_bootstrap
        target: /run/configs/lockss_bootstrap
      - source: cfg_service
        target: /run/configs/lockss_service
      - source: cfg_service_opt
        target: /run/configs/lockss_service_opt
      - source: lockss_cluster
        target: /run/configs/lockss_cluster
      - source: lockss_cluster_opt
        target: /run/configs/lockss_cluster_opt
    environment:
      - LOCKSS_IS_CONFIG=true
      - "LOCKSS_PROPS_URL={{LOCKSS_PROPS_URL}}"
      - "LOCKSS_WAIT_FOR_PORT={{POSTGRES_HOST}}:{{POSTGRES_DEFAULT_PORT}} {{REPO_HOST}}:{{REPO_DEFAULT_REST_PORT}}"
    ports:
      - "{{CFG_REST_PORT}}:{{CFG_DEFAULT_REST_PORT}}"
      - "{{CFG_UI_PORT}}:{{CFG_DEFAULT_UI_PORT}}"
      - "{{JMS_PORT}}:{{JMS_DEFAULT_PORT}}"
      - "{{LOCKSS_UI_PORT}}:{{CFG_DEFAULT_UI_PORT}}"
    volumes:
      - lockss-cfg-data:/data
      - lockss-cfg-logs:/var/log/lockss
    secrets:
      - lockss-postgres-pass
      - lockss_ui_pass
    networks:
      - lockss-network
{{/USE_LOCKSS_CFG}}

 {{#USE_LOCKSS_MDQ}}
  #
  # SERVICE lockss-metadata-service
  #
  lockss-metadata-service:
    <<: *lockss-service-common
    image: {{MDQ_IMG}}:{{MDQ_VERSION}}
    configs:
      - source: lockss_bootstrap
        target: /run/configs/lockss_bootstrap
      - source: mdq_service
        target: /run/configs/lockss_service
      - source: mdq_service_opt
        target: /run/configs/lockss_service_opt
    ports:
      - "{{MDQ_REST_PORT}}:{{MDQ_DEFAULT_REST_PORT}}"
      - "{{MDQ_UI_PORT}}:{{MDQ_DEFAULT_UI_PORT}}"
    volumes:
      - lockss-mdq-data:/data
      - lockss-mdq-logs:/var/log/lockss
    environment:
      - "LOCKSS_CONFIG_URL={{CFG_URL}}"
      - "LOCKSS_ADMIN_USER={{LOCKSS_ADMIN_USER}}"
      - "LOCKSS_WAIT_FOR_PORT={{POSTGRES_HOST}}:{{POSTGRES_DEFAULT_PORT}} {{CFG_HOST}}:{{CFG_DEFAULT_REST_PORT}} {{MDX_HOST}}:{{MDX_DEFAULT_REST_PORT}}"
      - "LOCKSS_WAIT_FOR_200={{CFG_HOST}}:{{CFG_DEFAULT_REST_PORT}} {{MDX_HOST}}:{{MDX_DEFAULT_REST_PORT}}"
    secrets:
      - lockss-postgres-pass
      - lockss_ui_pass
    networks:
      - lockss-network
{{/USE_LOCKSS_MDQ}}
 {{#USE_LOCKSS_MDX}}
  #
  # SERVICE lockss-metadata-extraction-service
  #
  lockss-metadata-extraction-service:
    <<: *lockss-service-common
    image: {{MDX_IMG}}:{{MDX_VERSION}}
    configs:
      - source: lockss_bootstrap
        target: /run/configs/lockss_bootstrap
      - source: mdx_service
        target: /run/configs/lockss_service
      - source: mdx_service_opt
        target: /run/configs/lockss_service_opt
    ports:
      - "{{MDX_REST_PORT}}:{{MDX_DEFAULT_REST_PORT}}"
      - "{{MDX_UI_PORT}}:{{MDX_DEFAULT_UI_PORT}}"
    volumes:
      - lockss-mdx-data:/data
      - lockss-mdx-logs:/var/log/lockss
    environment:
      - "LOCKSS_CONFIG_URL={{CFG_URL}}"
      - "LOCKSS_ADMIN_USER={{LOCKSS_ADMIN_USER}}"
      - "LOCKSS_WAIT_FOR_PORT={{POSTGRES_HOST}}:{{POSTGRES_DEFAULT_PORT}} {{CFG_HOST}}:{{CFG_DEFAULT_REST_PORT}}"
      - "LOCKSS_WAIT_FOR_200={{CFG_HOST}}:{{CFG_DEFAULT_REST_PORT}}"
    secrets:
      - lockss-postgres-pass
      - lockss_ui_pass
    networks:
      - lockss-network
{{/USE_LOCKSS_MDX}}

 {{#USE_LOCKSS_POL}}
  #
  # SERVICE lockss-poller
  #
  lockss-poller:
    <<: *lockss-service-common
    image: {{POL_IMG}}:{{POL_VERSION}}
    configs:
      - source: lockss_bootstrap
        target: /run/configs/lockss_bootstrap
      - source: pol_service
        target: /run/configs/lockss_service
      - source: pol_service_opt
        target: /run/configs/lockss_service_opt
    ports:
      - "{{POL_REST_PORT}}:{{POL_DEFAULT_REST_PORT}}"
      - "{{POL_UI_PORT}}:{{POL_DEFAULT_UI_PORT}}"
      - "{{LOCKSS_LCAP_PORT}}:{{LOCKSS_LCAP_PORT}}"
      - "{{SERV_PORT}}:{{SERV_DEFAULT_PORT}}"
      - "{{LOCKSS_PROXY_PORT}}:{{LOCKSS_DEFAULT_PROXY_PORT}}"
      - "{{LOCKSS_AUDIT_PORT}}:{{LOCKSS_DEFAULT_AUDIT_PORT}}"
      - "{{LOCKSS_ICP_PORT}}:{{LOCKSS_DEFAULT_ICP_PORT}}"
    volumes:
      - lockss-pol-data:/data
      - lockss-pol-logs:/var/log/lockss
    environment:
      - "LOCKSS_CONFIG_URL={{CFG_URL}}"
      - "LOCKSS_ADMIN_USER={{LOCKSS_ADMIN_USER}}"
      - "LOCKSS_WAIT_FOR_PORT={{REPO_HOST}}:{{REPO_DEFAULT_REST_PORT}} {{CFG_HOST}}:{{CFG_DEFAULT_REST_PORT}}"
      - "LOCKSS_WAIT_FOR_200={{REPO_HOST}}:{{REPO_DEFAULT_REST_PORT}} {{CFG_HOST}}:{{CFG_DEFAULT_REST_PORT}}"
    secrets:
      - lockss_ui_pass
    networks:
      - lockss-network
{{/USE_LOCKSS_POL}}

{{#USE_LOCKSS_REPO}}
  #
  # SERVICE lockss-repository-service
  #
  lockss-repository-service:
    <<: *lockss-service-common
    image: {{REPO_IMG}}:{{REPO_VERSION}}
    configs:
      - source: repo_properties
        target: /run/configs/lockss.properties
      - source: lockss_bootstrap
        target: /run/configs/lockss_bootstrap
      - source: repo_service
        target: /run/configs/lockss_service
      - source: repo_service_opt
        target: /run/configs/lockss_service_opt
 ports:
      - "{{REPO_REST_PORT}}:{{REPO_DEFAULT_REST_PORT}}"
    environment:
      - LOCKSS_IS_REPO=true
      - "LOCKSS_CONFIG_URL={{CFG_URL}}"
      - "LOCKSS_ADMIN_USER={{LOCKSS_ADMIN_USER}}"
#      - "LOCKSS_HDFS_HOST={{HDFS_HOST}}"
#      - "LOCKSS_HDFS_PORT={{HDFS_DEFAULT_FS_PORT}}"
      - "LOCKSS_SOLR_HOST={{SOLR_HOST}}"
      - "LOCKSS_SOLR_PORT={{SOLR_DEFAULT_PORT}}"
      - "LOCKSS_JMS_HOST={{JMS_HOST}}"
      - "LOCKSS_JMS_PORT={{JMS_DEFAULT_PORT}}"
      - "LOCKSS_WAIT_FOR_PORT={{SOLR_HOST}}:{{SOLR_DEFAULT_PORT}}"
      - "-Dlog4j2.debug"
    volumes:
      - lockss-repo-data:/data
      - lockss-repo-logs:/var/log/lockss
    networks:
      - lockss-network
{{/USE_LOCKSS_REPO}}

{{#USE_LOCKSS_POSTGRES}}
  #
  # SERVICE lockss-postgres
  #
  lockss-postgres:
    <<: *lockss-service-common
    image: {{POSTGRES_IMG}}:{{POSTGRES_VERSION}}
    ports:
      - '{{POSTGRES_PORT}}:{{POSTGRES_DEFAULT_PORT}}'
    volumes:
      - lockss-postgres-data:/data
      - lockss-postgres-logs:/var/logs/postgres
    environment:
      - POSTGRES_USER={{POSTGRES_USER}}
      - POSTGRES_PASSWORD_FILE=/run/secrets/lockss-postgres-pass
      - POSTGRES_DB={{POSTGRES_DB}}
      - PGDATA=/data
#        #for version 9
#      - POSTGRES_INITDB_XLOGDIR=/var/log/postgres
#        # for version 10+
#      - POSTGRES_INITDB_WALDIR=/var/log/postgres
    secrets:
      - lockss-postgres-pass
    networks:
      - lockss-network
{{/USE_LOCKSS_POSTGRES}}

{{#USE_LOCKSS_SOLR}}
  #
  # SERVICE lockss-solr
  #
  lockss-solr:
    <<: *lockss-service-common
    image: {{SOLR_IMG}}:{{SOLR_VERSION}}
    ports:
      - "{{SOLR_PORT}}:{{SOLR_DEFAULT_PORT}}"
    command: solr-precreate lockss-repo
    volumes:
      - lockss-solr-data:/opt/solr/server/solr/mycores
      - lockss-solr-logs:/opt/solr/server/logs
    networks:
      - lockss-network
{{/USE_LOCKSS_SOLR}}

{{#USE_LOCKSS_HDFS}}
  #
  # SERVICE lockss-hdfs
  #
  lockss-hdfs:
    <<: *lockss-service-common
    image: {{HDFS_IMG}}:{{HDFS_VERSION}}
    ports:
      - "{{HDFS_FS_PORT}}:{{HDFS_DEFAULT_FS_PORT}}"
    volumes:
      - lockss-hdfs-data:/hadoop
      - lockss-hdfs-logs:/var/log/hadoop
    networks:
      lockss-network:
{{/USE_LOCKSS_HDFS}}

{{#USE_LOCKSS_PYWB}}
  # 
  # SERVICE lockss-pywb
  #
  lockss-pywb:
    <<: *lockss-service-common
    image: {{PYWB_IMG}}:{{PYWB_VERSION}}
    ports:
      - "{{PYWB_PORT}}:{{PYWB_DEFAULT_PORT}}"
    volumes:
      - lockss-pywb-data:/data
    environment:
      - "REPO_HOST={{REPO_HOST}}"
      - "REPO_REST_PORT={{REPO_DEFAULT_REST_PORT}}"
      - "LOCKSS_WAIT_FOR_PORT={{REPO_HOST}}:{{REPO_DEFAULT_REST_PORT}}"
      - "LOCKSS_WAIT_FOR_200={{REPO_HOST}}:{{REPO_DEFAULT_REST_PORT}}"
    networks:
      - lockss-network
{{/USE_LOCKSS_PYWB}}

#
# CONFIGS
#
configs:
  lockss_bootstrap:
    external: true
    name: {{STACK}}-lockss-bootstrap
  lockss_cluster:
    external: true
    name: {{STACK}}-lockss-cluster
  lockss_cluster_opt:
    external: true
    name: {{STACK}}-lockss-cluster_opt
{{#USE_LOCKSS_CFG}}
  cfg_service:
    external: true
    name: {{STACK}}-cfg-service
  cfg_service_opt:
    external: true
    name: {{STACK}}-cfg-service_opt
{{/USE_LOCKSS_CFG}}
{{#USE_LOCKSS_MDQ}}
  mdq_service:
    external: true
    name: {{STACK}}-mdq-service
  mdq_service_opt:
    external: true
    name: {{STACK}}-mdq-service_opt
{{/USE_LOCKSS_MDQ}}
{{#USE_LOCKSS_MDX}}
  mdx_service:
    external: true
    name: {{STACK}}-mdx-service
  mdx_service_opt:
    external: true
    name: {{STACK}}-mdx-service_opt
{{/USE_LOCKSS_MDX}}
{{#USE_LOCKSS_POL}}
  pol_service:
    external: true
    name: {{STACK}}-pol-service
  pol_service_opt:
    external: true
    name: {{STACK}}-pol-service_opt
{{/USE_LOCKSS_POL}}
{{#USE_LOCKSS_REPO}}
  repo_properties:
    external: true
    name: {{STACK}}-repo_properties
  repo_service:
    external: true
    name: {{STACK}}-repo-service
  repo_service_opt:
    external: true
    name: {{STACK}}-repo-service_opt
{{/USE_LOCKSS_REPO}}
#
# SECRETS
#
secrets:
  lockss-postgres-pass:
    external: true
  lockss_ui_pass:
    external: true

#
# VOLUMES
#
volumes:
{{#USE_LOCKSS_CFG}}
  lockss-cfg-data:
    external: true
    name: {{STACK}}-cfg-data
  lockss-cfg-logs:
    external: true
    name: {{STACK}}-cfg-logs
{{/USE_LOCKSS_CFG}}
{{#USE_LOCKSS_MDQ}}
  lockss-mdq-data:
    external: true
    name: {{STACK}}-mdq-data
  lockss-mdq-logs:
    external: true
    name: {{STACK}}-mdq-logs
{{/USE_LOCKSS_MDQ}}
{{#USE_LOCKSS_MDX}}
  lockss-mdx-data:
    external: true
    name: {{STACK}}-mdx-data
  lockss-mdx-logs:
    external: true
    name: {{STACK}}-mdx-logs
{{/USE_LOCKSS_MDX}}
{{#USE_LOCKSS_POL}}
  lockss-pol-data:
    external: true
    name: {{STACK}}-pol-data
  lockss-pol-logs:
    external: true
    name: {{STACK}}-pol-logs
{{/USE_LOCKSS_POL}}
{{#USE_LOCKSS_REPO}}
  lockss-repo-data:
    external: true
    name: {{STACK}}-repo-data
  lockss-repo-logs:
    external: true
    name: {{STACK}}-repo-logs
{{/USE_LOCKSS_REPO}}
{{#USE_LOCKSS_POSTGRES}}
  lockss-postgres-data:
    external: true
    name: {{STACK}}-postgres-data
  lockss-postgres-logs:
    external: true
    name: {{STACK}}-postgres-logs
{{/USE_LOCKSS_POSTGRES}}
{{#USE_LOCKSS_SOLR}}
  lockss-solr-data:
    external: true
    name: {{STACK}}-solr-data
  lockss-solr-logs:
    external: true
    name: {{STACK}}-solr-logs
{{/USE_LOCKSS_SOLR}}
{{#USE_LOCKSS_HDFS}}
  lockss-hdfs-data:
    external: true
    name: {{STACK}}-hdfs-data
  lockss-hdfs-logs:
    external: true
    name: {{STACK}}-hdfs-logs
{{/USE_LOCKSS_HDFS}}
{{#USE_LOCKSS_PYWB}}
  lockss-pywb-data:
    external: true
    name: {{STACK}}-pywb-data
  lockss-pywb-logs:
    external: true
    name: {{STACK}}-pywb-logs
{{/USE_LOCKSS_PYWB}}
#
# NETWORKS
#
networks:
  lockss-network:
    external: true
    name: {{STACK}}-network
