# Copyright (c) 2000-2023, Board of Trustees of Leland Stanford Jr. University
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

# Do not edit this file.
# Edit the corresponding file with the "opt" suffix instead.

# Enable crawler for non-plugins
org.lockss.crawler.enabled={{USE_LOCKSS_CRAWL}}
org.lockss.daemon.crawlMode=NonPlugins

# Crawl starter interval
org.lockss.crawler.startCrawlsInterval=5m
org.lockss.crawlStatus.keepUrls=all

# Enable pluggable crawlers
org.lockss.crawlerservice.pluggableEnabled=true

# The list of supported crawlers
org.lockss.crawlerservice.crawlers="classic;wget"

# The path to the pluggable crawlmanager db
org.lockss.crawlerservice.dbPath={{CRAWL_DB_PATH}}

#The lockss classic crawler
org.lockss.crawlerservice.classic.enabled={{LOCKSS_CLASSIC_CRAWLER_ENABLE}}

# The wget crawler
org.lockss.crawlerservice.wget.enabled={{LOCKSS_WGET_CRAWLER_ENABLE}}

# the wget crawler specification
org.lockss.crawlerservice.wget.crawler=org.lockss.laaws.crawler.wget.WgetCmdLineCrawler
# The level of wget output in decreasing detail: --debug, --verbose, --no-verbose, --quiet
# Default is verbose set to no-verbose
org.lockss.crawlerservice.wget.outputLevel=no-verbose

# The permitted return code to indicate a successful crawl
org.lockss.crawlerservice.wget.successCode=0;8

#time between fetches
org.lockss.crawlerservice.wget.opt.wait=5

#network timeouts
#org.lockss.crawlerservice.wget.opt.timeout
#org.lockss.crawlerservice.wget.opt.dns-timeout
#org.lockss.crawlerservice.wget.opt.connect-timeout
#org.lockss.crawlerservice.wget.opt.read-timeout

# warc details
org.lockss.crawlerservice.wget.opt.warc-keep-log=off
#org.lockss.crawlerservice.wget.opt.no-warc-compression=false
