apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: lockss-solr
  name: lockss-solr
spec:
  ports:
  - name: "lockss-solr-port"
    port: {{SOLR_PORT}}
    targetPort: {{SOLR_DEFAULT_PORT}}
  selector:
    io.kompose.service: lockss-solr
status:
  loadBalancer: {}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: lockss-solr-data
  name: lockss-solr-data
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
status: {}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: lockss-solr-logs
  name: lockss-solr-logs
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
status: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lockss-solr-deployment
  namespace: default
  labels:
    app: lockss-solr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lockss-solr
  template:
    metadata:
      labels:
        io.kompose.network/lockss-stack-network: "true"
        io.kompose.service: lockss-solr
      name: lockss-solr
    spec:
      containers:
      - args:
        - solr-precreate
        - lockss-repo
        - /opt/solr/server/solr/configsets/lockss/v3
        env:
        - name: TZ
        image: {{SOLR_IMG}}:{{SOLR_VERSION}}
        name: lockss-solr
        ports:
        - containerPort: {{SOLR_DEFAULT_PORT}}
        resources: {}
        volumeMounts:
        - mountPath: /run/secrets/lockss-auth
          name: lockss-auth
        - mountPath: /opt/solr/server/solr
          name: lockss-solr-data
        - mountPath: /opt/solr/server/logs
          name: lockss-solr-logs
      restartPolicy: OnFailure
      volumes:
      - name: lockss-auth
        secret:
          items:
          - key: lockss-auth
            path: lockss-auth
          secretName: lockss-auth
      - name: lockss-solr-data
        persistentVolumeClaim:
          claimName: lockss-solr-data
      - name: lockss-solr-logs
        persistentVolumeClaim:
          claimName: lockss-solr-logs
