# Copyright (c) 2000-2023, Board of Trustees of Leland Stanford Jr. University
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

# Do not edit this file.
# Edit the corresponding file with the "opt" suffix instead.

# Use a REST repository
org.lockss.repository.v2Repository=rest:lockss:http://{{REPO_HOST}}:{{REPO_REST_PORT}}

# JMS connection
org.lockss.plugin.jms.enable=true
#org.lockss.jms.connect.uri=tcp://{{JMS_HOST}}:{{JMS_DEFAULT_PORT}}
org.lockss.jms.broker.uri=tcp://{{JMS_HOST}}:{{JMS_PORT}}

org.lockss.db.databaseNamePrefix={{LOCKSS_DBNAME_PREFIX}}

# UI and service bindings
org.lockss.ui.start=yes
org.lockss.ui.authType=Form
org.lockss.app.serviceBindings=\
{{#USE_LOCKSS_CFG}}cfg={{CFG_HOST}}:{{CFG_REST_PORT}},{{LOCKSS_HOSTNAME}}:{{CFG_UI_PORT}};{{/USE_LOCKSS_CFG}}\
{{#USE_LOCKSS_POL}}poller={{POL_HOST}}:{{POL_REST_PORT}},{{LOCKSS_HOSTNAME}}:{{POL_UI_PORT}};{{/USE_LOCKSS_POL}}\
{{#USE_LOCKSS_CRAWL}}crawler={{CRAWL_HOST}}:{{CRAWL_REST_PORT}},{{LOCKSS_HOSTNAME}}:{{CRAWL_UI_PORT}};{{/USE_LOCKSS_CRAWL}}\
{{#USE_LOCKSS_MDX}}mdx={{MDX_HOST}}:{{MDX_REST_PORT}},{{LOCKSS_HOSTNAME}}:{{MDX_UI_PORT}};{{/USE_LOCKSS_MDX}}\
{{#USE_LOCKSS_MDQ}}mdq={{MDQ_HOST}}:{{MDQ_REST_PORT}},{{LOCKSS_HOSTNAME}}:{{MDQ_UI_PORT}};{{/USE_LOCKSS_MDQ}}\
{{#USE_LOCKSS_REPO}}repo={{REPO_HOST}}:{{REPO_REST_PORT}}{{/USE_LOCKSS_REPO}}

# determines which component crawls plugin registries
org.lockss.daemon.pluginsCrawler=cfg
# default no crawls
org.lockss.daemon.crawlMode=None
org.lockss.config.isConfiguredForMigration={{LOCKSS_IN_MIGRATION_MODE}}
org.lockss.config.migrationLcapPort=$(LOCKSS_MIGRATION_LCAP_PORT)
org.lockss.config.sameHostMigration=$(LOCKSS_SAME_HOST_MIGRATION)
org.lockss.config.localV1Ip=$(LOCKSS_V1_IPADDR)
