apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-cfg-data
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_DATA_DIR}}/lockss-cfg-data
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-cfg-logs
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_LOGS_DIR}}/lockss-cfg-logs
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-mdq-data
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_DATA_DIR}}/lockss-mdq-data
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-mdq-logs
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_LOGS_DIR}}/lockss-mdq-logs
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-mdx-data
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_DATA_DIR}}/lockss-mdx-data
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-mdx-logs
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_LOGS_DIR}}/lockss-mdx-logs
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-pol-data
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_DATA_DIR}}/lockss-pol-data
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-pol-logs
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_LOGS_DIR}}/lockss-pol-logs
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-postgres-data
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_DATA_DIR}}/lockss-postgres-data
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-postgres-logs
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_LOGS_DIR}}/lockss-postgres-logs
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-pywb-data
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_DATA_DIR}}/lockss-pywb-data
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-pywb-logs
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_LOGS_DIR}}/lockss-pywb-logs
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-repo-data
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_DATA_DIR}}/lockss-repo-data
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-repo-logs
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_LOGS_DIR}}/lockss-repo-logs
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-solr-data
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_DATA_DIR}}/lockss-solr-data
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: lockss-solr-logs
spec:
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 5Gi
  hostPath:
    path: {{LOCKSS_LOGS_DIR}}/lockss-solr-logs
