apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.21.0 ()
  labels:
    io.kompose.service: lockss-metadata-service
  name: lockss-metadata-service
spec:
  ports:
  - name: "lockss-mdq-service-rest-port"
    port: {{MDQ_REST_PORT}}
    targetPort: {{MDQ_DEFAULT_REST_PORT}}
  - name: "lockss-mdq-service-ui-port"
    port: {{MDQ_UI_PORT}}
    targetPort: {{MDQ_DEFAULT_UI_PORT}}
  selector:
    io.kompose.service: lockss-metadata-service
status:
  loadBalancer: {}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: lockss-mdq-data
  name: lockss-mdq-data
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
status: {}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: lockss-mdq-logs
  name: lockss-mdq-logs
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
status: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lockss-mdq-deployment
  namespace: default
  labels:
    app: lockss-metadata-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lockss-metadata-service
  template:
    metadata:
      labels:
        io.kompose.network/lockss-stack-network: "true"
        io.kompose.service: lockss-metadata-service
      name: lockss-metadata-service
    spec:
      containers:
      - env:
        - name: ARGS_ADDITIONAL
          value: $(ARGS_ADDITIONAL)
        - name: LOCKSS_ADMIN_USER
          value: {{LOCKSS_ADMIN_USER}}
        - name: LOCKSS_CONFIG_URL
          value: {{CFG_URL}}
        - name: LOCKSS_PRESERVATION_GROUP
          value: {{LOCKSS_PRESERVATION_GROUP}}
        - name: LOCKSS_WAIT_FOR_200
          value: "{{CFG_HOST}}:{{CFG_DEFAULT_REST_PORT}} {{REPO_HOST}}:{{REPO_DEFAULT_REST_PORT}}"
        - name: LOCKSS_WAIT_FOR_PORT
          value: "{{POSTGRES_HOST}}:{{POSTGRES_DEFAULT_PORT}} {{CFG_HOST}}:{{CFG_DEFAULT_REST_PORT}}"
        - name: TZ
          value: {{LOCKSS_TIMEZONE}}
        resources: {}
        volumeMounts:
        - mountPath: /run/secrets/lockss-postgres-pass
          name: lockss-postgres-pass
        - mountPath: /run/secrets/lockss-ui-pass
          name: lockss-ui-pass
        - mountPath: /run/secrets/lockss-auth
          name: lockss-auth
        - mountPath: /data
          name: lockss-mdq-data
        - mountPath: /var/log/lockss
          name: lockss-mdq-logs
        image: "{{MDQ_IMG}}:{{MDQ_VERSION}}"
        name: lockss-metadata-service
        ports:
        - containerPort: {{MDQ_DEFAULT_REST_PORT}}
        - containerPort: {{MDQ_DEFAULT_UI_PORT}}
      restartPolicy: OnFailure
      volumes:
      - name: lockss-postgres-pass
        secret:
          items:
          - key: lockss-postgres-pass
            path: lockss-postgres-pass
          secretName: lockss-postgres-pass
      - name: lockss-ui-pass
        secret:
          items:
          - key: lockss-ui-pass
            path: lockss-ui-pass
          secretName: lockss-ui-pass
      - name: lockss-auth
        secret:
          items:
          - key: lockss-auth
            path: lockss-auth
          secretName: lockss-auth
      - name: lockss-mdq-data
        persistentVolumeClaim:
          claimName: lockss-mdq-data
      - name: lockss-mdq-logs
        persistentVolumeClaim:
          claimName: lockss-mdq-logs
