# Copyright (c) 2000-2023, Board of Trustees of Leland Stanford Jr. University
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.

# Do not edit this file.
# Edit the corresponding file with the "opt" suffix instead.

org.lockss.jobManager.enabled=true
org.lockss.metadataManager.indexing_enabled=true
org.lockss.metadataManager.mandatoryFields=publisher;provider

org.lockss.metadataDbManager.waitForExternalSetup=true
org.lockss.metadataDbManager.datasource.className=org.postgresql.ds.PGSimpleDataSource
org.lockss.metadataDbManager.datasource.serverName={{POSTGRES_HOST}}
org.lockss.metadataDbManager.datasource.portNumber={{POSTGRES_PORT}}
org.lockss.metadataDbManager.datasource.user={{POSTGRES_USER}}
org.lockss.metadataDbManager.datasource.password={{POSTGRES_PASSWD}}
org.lockss.metadataDbManager.datasource.schemaName={{POSTGRES_SCHEMA}}
org.lockss.metadataDbManager.datasource.dbcp.enabled=true

org.lockss.jobDbManager.waitForExternalSetup=false
org.lockss.jobDbManager.datasource.className=org.postgresql.ds.PGSimpleDataSource
org.lockss.jobDbManager.datasource.serverName={{POSTGRES_HOST}}
org.lockss.jobDbManager.datasource.portNumber={{POSTGRES_PORT}}
org.lockss.jobDbManager.datasource.user={{POSTGRES_USER}}
org.lockss.jobDbManager.datasource.password={{POSTGRES_PASSWD}}
org.lockss.jobDbManager.datasource.schemaName={{POSTGRES_SCHEMA}}
org.lockss.jobDbManager.datasource.dbcp.enabled=true
