#!/usr/bin/env bash

{{#USE_LOCKSS_CFG}}
  microk8s kubectl port-forward -n lockss deployment/lockss-configuration-service \
  {{CFG_REST_PORT}}:{{CFG_DEFAULT_REST_PORT}}  {{CFG_UI_PORT}}:{{CFG_DEFAULT_UI_PORT}}
  {{LOCKSS_UI_PORT}}:{{CFG_DEFAULT_UI_PORT}} &
{{/USE_LOCKSS_CFG}}
{{#USE_LOCKSS_MDX}}
  microk8s kubectl port-forward -n lockss deployment/lockss-metadata-extraction-service \
  {{MDX_REST_PORT}}:{{MDX_DEFAULT_REST_PORT}} {{MDX_UI_PORT}}:{{MDX_DEFAULT_UI_PORT}} &
{{/USE_LOCKSS_MDX}}
{{#USE_LOCKSS_MDQ}}
  microk8s kubectl port-forward -n lockss deployment/lockss-metadata-service \
{{MDQ_REST_PORT}}:{{MDQ_DEFAULT_REST_PORT}} {{MDQ_UI_PORT}}:{{MDQ_DEFAULT_UI_PORT}} &
{{/USE_LOCKSS_MDQ}}
{{#USE_LOCKSS_POL}}
  microk8s kubectl port-forward -n lockss deployment/lockss-poller-service \
{{POL_REST_PORT}}:{{POL_DEFAULT_REST_PORT}} {{POL_UI_PORT}}:{{POL_DEFAULT_UI_PORT}} \
{{POL_LCAP_PORT}}:{{POL_DEFAULT_LCAP_PORT}} {{SERV_PORT}}:{{SERV_DEFAULT_PORT}} \
{{LOCKSS_PROXY_PORT}}:{{LOCKSS_DEFAULT_PROXY_PORT}} {{LOCKSS_AUDIT_PORT}}:{{LOCKSS_DEFAULT_AUDIT_PORT}} &
{{/USE_LOCKSS_POL}}
{{#USE_LOCKSS_POSTGRES}}
  microk8s kubectl port-forward -n lockss deployment/lockss-postgres-service \
{{POSTGRES_PORT}}:{{POSTGRES_DEFAULT_PORT}} &
{{/USE_LOCKSS_POSTGRES}}
{{#USE_LOCKSS_REPO}}
  microk8s kubectl port-forward -n lockss deployment/lockss-repository-service \
{{REPO_REST_PORT}}:{{REPO_DEFAULT_REST_PORT}} &
{{/USE_LOCKSS_REPO}}
{{#USE_LOCKSS_SOLR}}
  microk8s kubectl port-forward -n lockss deployment/lockss-solr-service \
{{SOLR_PORT}}:{{SOLR_DEFAULT_PORT}} &
{{/USE_LOCKSS_SOLR}}
{{#USE_LOCKSS_PYWB}}
  microk8s kubectl port-forward -n lockss deployment/lockss-pywb-service \
{{PYWB_PORT}}:{{PYWB_DEFAULT_PORT}} &
{{/USE_LOCKSS_PYWB}}
