# -----------------------------
# Local PostgreSQL configuration file
# -----------------------------

log_filename = 'postgresql-%Y%m%d_%H%M%S.log'
log_min_duration_statement = 10000
log_line_prefix = '%t '

track_counts = on
autovacuum = on
log_autovacuum_min_duration = 0
# -1 disables, 0 logs all actions and
# their durations, > 0 logs only
# actions running at least this number
# of milliseconds.

shared_preload_libraries = 'auto_explain'

custom_variable_classes = 'auto_explain'
auto_explain.log_min_duration = 10000
auto_explain.log_analyze = on
auto_explain.log_buffers = on
auto_explain.log_nested_statements = on

shared_buffers = 12GB

log_checkpoints = on
checkpoint_segments = 200
checkpoint_completion_target = 0.9
checkpoint_timeout = 60min
wal_buffers = 16MB

effective_cache_size = 10GB
work_mem = 10GB
