{
  "authentication":{
    "blockUnknown": true,
    "class":"solr.BasicAuthPlugin",
    "credentials":{"{{LOCKSS_SOLR_USER}}":"{{LOCKSS_SOLR_HASH}}"},
    "realm":"LOCKSS Users",
    "forwardCredentials": false
  },
  "authorization":{
    "class":"solr.RuleBasedAuthorizationPlugin",
    "permissions":[{"name":"security-edit",
      "role":"admin"}],
    "user-role":{"{{LOCKSS_SOLR_USER}}":"admin"}
  }
}